* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  font-size: normal;
}

body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

body > img {
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  z-index: -1;
}

.visible {
  display: block;
}

header {
  padding: 40px 72px;
}

nav {
  display: flex;
  align-items: center;
  gap: 42px;
}

nav a {
  color: #C4C4CC;
  text-decoration: none;
  font-size: 22px;
}

.span {
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
}

#content {
  width: 100vw;
}



#intro h1, #universe h1, #exploration h1 {
  font-weight: bold;
  font-size: 48px;
  color: #E1E1E6;
}

#universe p, #exploration p {
  font-size: 18px;
  color: #E1E1E6;
  width: 648px;
  margin-top: 15px;
  line-height: 160%;
}

#intro {
  width: 100%;
  margin-top: 172px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

#intro button {
  margin-top: 24px;
  padding: 12px;
  width: 195px;
  height: 48px;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #FFFFFF;
  font-weight: bold;
  transition: all 1s ease;
  cursor: pointer;

}

#intro button:hover {
  color: #02799D;
  background-color: #FFFFFF;
  transition: all .5s ease-out;
}

#universe, #exploration {
  margin: 63px 0 0 102px;
}
